# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [44]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [59]:
import pandas as pd
import datetime
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [46]:
data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data', 
                   delim_whitespace=True)
def datefunc(row):
    row['Date'] = datetime.datetime(2000 + int(row.Yr), int(row.Mo), int(row.Dy))
    return row
datefunc(data.iloc[0])
data = data.apply(datefunc, axis=1)
data = data.drop(['Yr', 'Mo', 'Dy'], axis=1)
data

<ipython-input-46-c87fd6005723>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['Date'] = datetime.datetime(2000 + int(row.Yr), int(row.Mo), int(row.Dy))

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-01-02
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-01-03
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2061-01-04
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,2061-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27
6570,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28
6571,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [47]:
def datefix(row):
    row['Date'] = datetime.datetime(row['Date'].year-100, row['Date'].month, row['Date'].day)
    return row

data = data.apply(datefix, axis=1)
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
6570,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [48]:
data = data.set_index('Date')
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [51]:
missing = data.isnull().values.sum()
print(missing)

31

### Step 7. Compute how many non-missing values there are in total.

In [52]:
nonmissing = (len(data)*len(data.columns))-missing
print(nonmissing)

78857

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [157]:
speeds = data.values
fixedspeeds = []
for row in speeds:
    fixedspeeds += list(row[~np.isnan(row)])
fixedspeeds = np.array(fixedspeeds)
print(fixedspeeds.mean())

10.22788376428218

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [77]:
places = data.columns
mins = [data[col].dropna().min() for col in places]
maxes = [data[col].dropna().max() for col in places]
means = [data[col].dropna().mean() for col in places]
stds = [data[col].dropna().std() for col in places]
loc_stats = pd.DataFrame(np.array([mins, maxes, means, stds]).T, index = places, columns = ['min', 'max', 'mean', 'std'])
loc_stats

     mins  maxes      means      stds
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [84]:
mins = [data.iloc[i].dropna().min() for i in range(len(data))]
maxes = [data.iloc[i].dropna().max() for i in range(len(data))]
means = [data.iloc[i].dropna().mean() for i in range(len(data))]
stds = [data.iloc[i].dropna().std() for i in range(len(data))]
day_stats = pd.DataFrame(np.array([mins, maxes, means, stds]).T, index=data.index, columns = ['min', 'max', 'mean', 'std'])
day_stats

             min    max       mean       std
Date
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356
...          ...    ...        ...       ...
1978-12-27  8.08  40.08  16.708333  7.868076
1978-12-28  5.00  41.46  15.150000  9.687857
1978-12-29  8.71  29.58  14.890000  5.756836
1978-12-30  9.13  28.79  15.367500  5.540437
1978-12-31  9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [97]:
janwindspeeds = []
places = data.columns
for place in places:
    janwindspeeds.append((place, data[data.index.month==1][place].dropna().mean()))
janwindspeeds

[('RPT', 14.847324955116699),
 ('VAL', 12.914560143626572),
 ('ROS', 13.299623655913978),
 ('KIL', 7.199498207885309),
 ('SHA', 11.667733812949638),
 ('BIR', 8.05483870967742),
 ('DUB', 11.819354838709673),
 ('CLA', 9.512046678635551),
 ('MUL', 9.543207885304664),
 ('CLO', 10.053566308243726),
 ('BEL', 14.550519713261648),
 ('MAL', 18.028763440860224)]

### Step 12. Downsample the record to a yearly frequency for each location.

In [111]:
years = list(set(data.index.year))
means = [[data.loc[str(year)][place].dropna().mean() for year in years] for place in places]
year_stats = pd.DataFrame(np.array(means).T, index=years, columns = places)
year_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

### Step 13. Downsample the record to a monthly frequency for each location.

In [132]:
months = [i for i in range(1, 13)]
means = [[data[(data.index.year==year)&(data.index.month==month)][place].dropna().mean() for year in years for month in months]
        for place in places]
periods = ['{}/{}'.format(year, month) for year in years for month in months]
month_stats = pd.DataFrame(np.array(means).T, index=periods, columns=places)
month_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1961/1,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961/2,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961/3,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961/4,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961/5,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613
...,...,...,...,...,...,...,...,...,...,...,...,...
1978/8,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194
1978/9,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333
1978/10,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000
1978/11,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000
1978/12,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613

### Step 14. Downsample the record to a weekly frequency for each location.

In [146]:
weeks = [i for i in range(1, 53)]
means = [[data[(data.index.year==year)&(data.index.isocalendar().week==week)][place].dropna().mean() for year in years for week in weeks]
        for place in places]
periods = ['{} week {}'.format(year, week) for year in years for week in weeks]
week_stats = pd.DataFrame(np.array(means).T, index=periods, columns=places)
week_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1961 week 1,13.541429,11.486667,10.487143,6.417143,9.474286,6.435714,11.061429,6.616667,8.434286,8.497143,12.481429,13.238571
1961 week 2,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286
1961 week 3,13.204286,9.862857,12.982857,6.328571,8.966667,7.417143,9.257143,7.875714,7.145714,8.124286,9.821429,11.434286
1961 week 4,19.880000,16.141429,18.225714,12.720000,17.432857,14.828571,15.528571,15.160000,14.480000,15.640000,20.930000,22.530000
1961 week 5,16.827143,15.460000,12.618571,8.247143,13.361429,9.107143,12.204286,8.548571,9.821429,9.460000,14.012857,11.935714
...,...,...,...,...,...,...,...,...,...,...,...,...
1978 week 48,14.934286,11.232857,13.941429,5.565714,10.215714,8.618571,9.642857,7.685714,9.011429,9.547143,11.835714,18.728571
1978 week 49,20.740000,19.190000,17.034286,9.777143,15.287143,12.774286,14.437143,12.488571,13.870000,14.082857,18.517143,23.061429
1978 week 50,16.758571,14.692857,14.987143,6.917143,11.397143,7.272857,10.208571,7.967143,9.168571,8.565714,11.102857,15.562857
1978 week 51,11.155714,8.008571,13.172857,4.004286,7.825714,6.290000,7.798571,8.667143,7.151429,8.072857,11.845714,18.977143
1978 week 52,14.123750,11.216250,14.995000,6.136250,9.515000,8.480000,13.833750,10.417500,10.988750,11.287500,13.215000,26.046250

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [160]:
mins = []
maxes = []
means = []
stds = []
for week in weeks:
    weeklyspeeds = []
    speeds = data[(data.index.year==1961)&(data.index.isocalendar().week==week)].values
    for row in speeds:
        weeklyspeeds += list(row[~np.isnan(row)])
    weeklyspeeds = np.array(weeklyspeeds)
    mins.append(weeklyspeeds.min())
    maxes.append(weeklyspeeds.max())
    means.append(weeklyspeeds.mean())
    stds.append(weeklyspeeds.std())
speeds1961 = pd.DataFrame(np.array([mins, maxes, means, stds]).T, index = weeks, columns = ['min', 'max', 'mean', 'std'])
speeds1961

     min    max       mean       std
1   1.79  18.50   9.867073  3.471521
2   0.50  20.71   8.353214  4.609857
3   1.04  20.79   9.373253  4.675937
4   6.04  27.71  16.922892  5.030660
5   3.63  24.21  11.800357  4.350223
6   8.08  26.38  15.891548  4.298548
7   3.42  29.63  13.770723  4.713072
8   2.21  25.80  12.604286  5.584981
9   5.50  23.45  11.765556  3.471533
10  1.71  22.71  10.627470  4.528126
11  2.75  22.95  11.756310  4.382940
12  2.58  22.50  10.462857  4.179115
13  1.46  19.58  10.302073  4.356300
14  3.21  18.29   9.412381  3.463937
15  1.54  16.17   6.845595  3.175767
16  0.83  21.09  10.146667  4.503918
17  1.38  17.50   7.445000  3.595807
18  3.83  28.08  13.164048  5.103248
19  1.04  26.30   8.060361  4.684188
20  3.17  15.96   7.492410  3.184490
21  1.63  20.96   7.219277  3.738065
22  3.42  17.96   9.244643  2.997893
23  1.87  19.83   8.459048  3.209434
24  1.58  25.25  10.173810  4.605245
25  2.88  21.50  10.066548  3.878382
26  4.42  21.87   9.488415  3.453918
27  3.54  21.29  10.564337  3.963091
28  2.67  22.50  11.666190  4.443901
29  1.46  12.67   5.350952  2.207565
30  2.21  25.37   9.431071  4.668496
31  2.25  20.25   9.446786  3.893975
32  2.50  15.16   8.188293  3.091717
33  6.83  24.30  12.620723  3.474806
34  3.96  23.38  12.061786  4.635060
35  1.13  24.71   8.437381  5.389800
36  1.25  20.25   8.186786  4.153945
37  3.96  33.09  14.510833  5.933992
38  1.46  20.96   7.272840  3.216496
39  4.04  23.21  11.776024  4.197762
40  1.04  19.62   8.034167  4.489447
41  2.96  21.04   9.815422  4.180206
42  3.75  33.45  15.479643  6.295250
43  1.71  30.88  12.727831  6.736981
44  3.79  23.58  11.612857  4.331808
45  1.33  20.41   7.487262  3.831381
46  0.63  32.71   7.647024  5.484990
47  2.04  22.58   8.715181  4.007058
48  1.92  23.75   9.754762  4.984572
49  3.13  29.33  13.145357  5.020753
50  4.46  25.62  12.703095  4.701081
51  0.58  24.41   9.315714  5.345482
52  0.42  29.33   9.962526  5.284776